body {
    background-color: #39a9cb;
}

#container {
    display: flex;
    justify-content: center;
}

#pictures {
    width: 600px;
    height: 100vh;
}

.btn {
    background-color: #ffeda3;
    border: none;
    color: #232323;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
}